include includes/head.pug
main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            if error
              h2.title.is-size-2 #{whoops}
              p #{error}
            else
              h2.title.is-size-2 #{notHere}
                a.button.is-primary(href="/") #{goHome}

include includes/footer.pug
