include includes/head.pug
main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            h2.title.is-size-2 Gifts
            p $$$

include includes/footer.pug