include includes/head.pug
main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            unless user
              h2.title.is-size-2 #{enterEmail}
              input.input#email(type="email")
              br
              br
              .buttons
                a.button.is-primary#submitlogin #{submit}
                a.button#scancode #{orScan}
            else
              h2.title.is-size-2 #{alreadyLoggedIn}

include includes/footer.pug
script(src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js")
script(src='/login.js')