include includes/head.pug
main(class="container p-12 flex-1")
  h2.text-4xl.mb-3 #{hereIsCode}
  div#qrcode
        
include includes/footer.pug
include includes/foot.pug
script(src='https://cdn.jsdelivr.net/gh/kazuhikoarase/qrcode-generator/js/qrcode.js')
script(src='/qr.js')  