include includes/head.pug
main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            if user.RSVP
              h2.title.is-size-2 #{great}
              p #{lookingForward}

            else
              h2.title.is-size-2 #{sorryToHear}
              p #{shameCantCome}

include includes/footer.pug