include includes/head.pug
main(class="container p-12 flex-1")
  unless user
    h2.text-4xl.mb-3 #{saveTheDate}
    p #{saveTheDateBlurb}
    textbox#address(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4")
    a#submitaddress(class="px-3 py-2 border border-" + env.colour + "-" + env.sat + " rounded hover:bg-" + env.colour + "-" + env.sat + " hover:text-white") #{submit}

include includes/footer.pug
include includes/foot.pug
script(src='/savethedate.js')